.popup__container {
  min-width: 60%;
  max-width: 80%;
  padding: 30px;
  background-color: #fff;
  position: relative;
  display: flex;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .popup__container {
    width: 100%;
    flex-direction: column;
    padding: 15px;
  }
}