.form__input {
  min-width: 400px;
  width: 30%;
  border: 0;
  padding: 15px;
  margin: 0;
  font-size: 20px;
  outline: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all 0.2s;
}

.form__input:focus {
  border: 1px solid #ccc;
  border-radius: 15px;
}

@media (max-width: 800px) {
  .form__input {
    min-width: 150px;
    width: 50%;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .form__input {
    min-width: 50px;
    width: 50%;
    font-size: 14px;
  }
}